$font-dosis: "dosisregular";
$font-sans: 'open_sanslight';
$heightAllPage: 100vh;
$padding-140: 140px 0;
$width100: 100%;
$backgroundW: white;
$colorDark:  #111111;
$colorDark1: #020202;
$greyLight: #808080;
$grey: #363636;
$greyLight1: #cdcdcd;
$greyLight2: #777777;
$greyLight3: #a7a7a7;
$grey2: #444444;
$colorLight: #e5e5e5;
