@import "fonts";
@import "variables";
@import 'mixins';

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-dosis;
}
span, 
p {
    font-family: $font-sans;
}


#header {
    position: absolute;
    width: $width100;
    z-index: 1;
    padding: 30px 20px;

    .links li {
        margin-left: 30px;
        &.a 
    {
        @include fontStyle(11px, #ffffff, inherit, none);
        font-family: $font-sans;        
    }}
    .navbar-toggler {
        outline: none;
        width: 30px;
        padding: 0;
    }
    .navbar-toggler-icon {
        background: $backgroundW;
        width: $width100;
        height: 2px;
        position: relative;
    }
    .navbar-toggler-icon:before,
    .navbar-toggler-icon:after  {
        content: '';
        height: 2px;
        width: $width100;
        left:0;
        position: absolute;    
        background: $backgroundW;
    }
    .navbar-toggler-icon:before{
        top:-8px;
    }
    .navbar-toggler-icon:after {
        bottom:-8px;
    }
}

   
.section1 {
    height: $heightAllPage;

    background: {
        image: url(../images/section1-bg.png);
        repeat: no-repeat;
        size: cover;
        position: bottom;
        }
    

    h1 {
        @include fontStyle(30px, #fefefe, 50px, none);
        margin-bottom: 100px;
        text-indent: 50px;
       }

    p { @include fontStyle(19px, #fefefe, unset, none); 
    }

    .arrow-down {
        @include arrow(30px, 30px, #ffffff, 5px); 
        bottom: 30px;
        transform: rotate(-135deg);
        cursor: pointer;

        & .fa-chevron-down
        {
            transform: rotate(135deg) translateY(7px);
        }
    }
}

.section2 {
    padding: $padding-140;
    border-bottom: 1px solid #ececec;  
    
    .m-bot-80 {
        margin-bottom: 80px; 
    }
    h3 {
        @include fontStyle(18px, #111111, 10px, none);
    }
    .articles .col-lg-4 > p {
        font-size: 15px;
        line-height: 25px;
    }
    .articles .blockquote p {
        font-size: 24px;
        line-height: 35px;
        margin-bottom: 30px;    
    }
    h4 {
        @include fontStyle(15px, $greyLight2 , 8px, none);
        margin-top: 30px;
    }
    .p-style {
        @include fontStyle(12px, $greyLight2 , 12px, none);
        margin-top: 13px;
    }
    .part-2 {
        margin-top: 100px;
    }
    .h3-style-dark {        
        @include fontStyle(18px, white , 4px, none);
        font-size: 18px;
        color: white;
        letter-spacing: 4px;
    }
    
    .dark-box {
       position: absolute;
       top:  0;
       bottom: 92px;
       opacity: 0; 
       transition: all 0.5s;
       transform: scale(0.5);
    }
    .dark-box:hover {
      opacity: 1;
      transform: scale(1);
     }
       
    .dark-padd-40 {
        padding: 40px;
    }
    .p-style-dark {
        @include fontStyle(13px,white , inherit, none);
    }
    .names-dark {
        margin: 0;
        @include fontStyle(11px, white , inherit, uppercase);
        margin-bottom: 6px;
    }
    .progress-style .progress {
        border-radius: 0;
        height: 10px;
        background-color: $grey;
        margin-bottom: 15px;
    }
    .progress-style .progress-bar {
        background-color: $greyLight1;
    }
    
}

.section3   {
    padding: $padding-140;
    
    .nav-item h5 {
        @include fontStyle(14px, inherit , 5px, uppercase);
    }
    
    .nav-item .icon {
    font-size: 48px;
    margin-bottom: 35px;
    }
    .nav-tabs .nav-link,
    .nav-tabs {
    border: none;
    }

    .nav-link{
    color: $greyLight;
    padding: 0;
    }
    .nav-link .active{
    color: $colorDark;
    }
    .nav-tabs {
    margin-bottom: 80px;
    }
    .title {
   margin-bottom: 125px;
    }
    .nav-item {
    padding: 0;
    }
}

@media screen and (min-width: 992px) {
    .section3 .nav-item {
        flex: 0 0 20%;
        max-width: 20%;
    }
}

.section4 {
    background: $colorDark;

.style-h3-s4 {
    @include fontStyle(18px, #cfcfcf , 5px, none);
    margin-bottom: 20px;
}
.style-p-s4 {
    @include fontStyle(15px, $greyLight , inherit, none);    
}
.btn-style-s4 {
    @include button( #cfcfcf);
    @include fontStyle(14px, $colorDark , 2px, none); 
    width: 170px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;   
    margin-top: 30px;
    &:hover {
        @include button( #cfcfcf);
        color: grey;
    } 
}
.row .img-trans-s4{
    transform: translateY(-30px);
}
.padd-s4 {
    padding-top: 90px;
    padding-bottom: 90px;
}
}

.section5 {
    border-bottom: 7px solid $greyLight2;
    padding-top: 140px;

.nav-border-off {
    border: none;
    margin-bottom: 50px;
    margin-top: 80px;
}
.li-margin-right {
    margin-right: 65px;
}
.nav .link-border-off {
    border: none;
}
.container-margin-s5,
.col-paddingi-s5,
.margin-row-0
{
    margin: 0;
    padding: 0;
}
h3 {
    margin-bottom: 80px;
    font-size: 18px;
}
p {
    line-height: 1.8;
    font-size: 15px;
   
}
.nav-item h5 {
    @include fontStyle(13px, inherit , 5px, uppercase); 
}
.style-imgcolor-s5,
 {
    top: 0;
    position: absolute;
    opacity: 0;
    &:hover {
        opacity: 1;
    }
 
}
.style-imggrey-s5 {
    top: 0;
    position: absolute;
    &:hover {
        opacity: 0;}
}

.link-text {
    @include fontStyle(13px, $greyLight3 , inherit, uppercase);
}

.overflow-style {
    overflow: hidden;
}
}

.section6 {
    padding: 70px 0;
    background: $colorDark;

h3 {
    color:$backgroundW;
    margin-bottom: 25px;
}
.btn {
    color: $colorDark;
    padding: 15px 40px;
    border-radius: 5px;
    @include button($backgroundW);
}
}
.section7 {
    padding: $padding-140;

 .title {
    margin-bottom: 90px;
}

.h4 {
    @include fontStyle(14px, inherit, 5px, none); 
    padding: 40px 0;
}
.h3 {
    text-align: center;
}
.p {
   @include fontStyle(14px, $greyLight2 ,inherit, none); 
}
.choose-us div:nth-child(-n+3) {
    margin-bottom: 90px;
}
}

@media screen and (max-width:991px) {
    .section7 .choos-us div:nth-child(-n+3){
        margin: 0;
    }
}
.section7 [class|="icon"] {
    font-size: 48px;
}

.section8 {
.slide {
    background: $colorDark;
    padding: padding-140;
}
.carousel-indicators {
    bottom: 30px;

}
.carousel-indicators {
    li {
    @include arrow(15px, 15px, $colorLight, 50%);
    margin: 0 5px;}
    li.active {
        background: transparent;
        border: 1px solid backgroundW;
    }
}

.carousel-caption {
   
    left: auto;
    bottom: auto;
    right: auto;
    width: 75%;
    margin: auto;
}
 [class|="icon"] {
    font-size: 32px;    
}

h3 {
    @include fontStyle(inherit, $backgroundW, inherit, uppercase); 
    margin: 25px 0 50px;
}
p {
    font-size: 18px;
    margin-bottom: 30px;
}
footer {
    @include fontStyle(11px, $greyLight2, inherit, uppercase); 
}
[class|="carousel-control"] {
    border: 80px solid transparent;    
    bottom: auto;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
}
.carousel-control-next
 {
    border-right: 80px solid $backgroundW;
}
.carousel-control-prev {    
    border-left: 80px solid $backgroundW;
}
.fa-chevron-right {
    right: -60px;
}
.fa-chevron-left {
    left: -60px;
}
.fa {
    @include fontStyle(20px, $colorDark1, inherit, none); 
    position: absolute;
}
}

.section9 {
    padding: $padding-140;

    .item img {
    width: width100;   
    }
    .img-color {
     top: 0;
     opacity: 0;   
    }
.img-wrapper:hover .img-color{
    opacity: 1;
}
.row:first-child {
    margin-bottom: 80px;
}
.row:first-child a {
    @include fontStyle(11px, $greyLight, 5px, none);
    font-family: 'Courier New', Courier, monospace;
    }
.item {
    width: width100;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h4 {
    @include fontStyle(15px, $greyLight, 5px, none);
    margin: 30px 0 15px;
}
    h5 {
        @include fontStyle(11px, $greyLight, 5px, none);
        margin-bottom: 30px;  
}
     p { 
        @include fontStyle(15px, $greyLight, inherit, none);
        line-height: 1.7;
  
}}
 .btn {
    @include fontStyle(11px, $greyLight, inherit, none);
    @include button($colorLight);
}
.h4 {
    flex-grow: 1;
}}

.section10 {
    background: $colorLight;
    padding: 80px 0 90px;

.form-control {
    max-width: 295px;
    display: inline-block;
    font-size: 12px;
    font-family: 'open_sanslight';
    letter-spacing: 2px;
    margin: 25px 0 20px;
    outline: none;
    box-shadow: none;  
    padding: 10px 20px;   
}
h3 {
    font-size: 16px;
    letter-spacing: 5.5px;
    
}
p {
    font-size: 11px;
}
.btn {
    padding: 10px 20px;
    font-size: 12px;
    text-transform: uppercase;
    background: #323232;
    color: #acacac;
    letter-spacing: 3px;
    font-family:  'open_sanslight';
    border-radius: 0;
    font-weight: bold;
}}

.section11 {
padding: $padding-140;

    .container {
        .row,
        .form-group,
        .col-12,
         .col-lg-6
        {
            padding: 0 30px 0 30px;
            margin-top: auto;
            margin-bottom: auto;
            margin-left: auto;
            margin-right: auto;
        }  
    }
.fa-info-circle {
    padding: 0 5px 0 30px;
}
.form-control {
    border-radius: 0;
}
.btn-s11 {
    margin-right: 30px;
    font-size: 13px;
    text-transform: uppercase;
    background: #323232;
    color: #acacac;
    letter-spacing: 4px;
    font-family:  'open_sanslight';
    border-radius: 0;
    padding: 10px 20px;    
}

 #margin-form {
    margin-top: 80px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}
h3 {
    margin-bottom: 90px;
}
.social {
    border: 1px solid #323232;
     width: 30px;
     height:30px;
     border-radius: 3px;
     bottom: 30px;
     transform: rotate(-135deg);
     cursor: pointer;
     margin-right: 28px; 
     background: #020202;  
     color: #f8f8f8;
     margin-top: 7px;
     margin-left: 20px;
 }
 .fa-rotater {
    transform: rotate(135deg);
}
 h5 {
    font-size: 12px;
    color: #777777;
    letter-spacing: 5px;
}
 p {
    font-size: 11px;
    color: #444444;
}

 #exampleFormControlInput1 {
    font-size: 12px;
    font-family: 'open_sanslight';
    letter-spacing: 2px;
    outline: none;
    box-shadow: none;     
}
 #exampleFormControlTextarea1 {
    font-size: 12px;
    font-family: 'open_sanslight';
    letter-spacing: 2px;
    outline: none;
    box-shadow: none;     
}
 .margin-between {
    margin-bottom: 10px;
}}


.section12 {
    .overlay {
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: 0.5s;
    &:hover {
        opacity: 0;
        transform: translateY(100%);    
    }
}

 h3 {
    color: white;
    margin-top: 30px;
}
.arrow-down .fa-map-marker {
    transform: rotate(135deg);
}}

footer {
    padding-top: $padding-140;

 .social {
   border: 1px solid #323232;
    width: 30px;
    height:30px;
    border-radius: 3px;
    bottom: 30px;
    transform: rotate(-135deg);
    cursor: pointer;
    margin-right: 28px;   
    li {
        font-size: 14px;
    }
}
 
 .fa-rotater {
    transform: rotate(135deg);
}
 .social-block {
    margin: 25px 0 105px;
}
h5 {
    font-size: 12px;
    color: #4f4f4f;
    letter-spacing: 7px;
}
p {
    font-size: 11px;
    color: #acacac;
    margin: 16px 0 60px;
}
}